@model  RomeoConnection.ViewModels.UserViewModel
@{
    ViewBag.Title = "Index";
}

<h2>List of users</h2>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Location</th>
        <th>Job Title</th>
        <th>BirthDay</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Location</td>
            <td>@user.JobTitle</td>
            <td>@user.Birthday</td>
            <td>@user.Description</td>
            <td>
                @{
                            if(Model.ShowActions)
                    {
                        <button data-user-id="@user.DisplayId" class="btn btn-primary js-toggle-follow">Join</button>
                        <p class="number">33 de utilizatori s-au inscris deja</p>

                    }
                    else
                    {
                        <span>You must register before joining a group</span>
                }
                }

            </td>
        </tr>
    }
    </tbody>
</table>

@section scripts{
    <script>

        $(document).ready(function() {

            $(".js-toggle-follow").click(function(e) {
                var button = $(e.target);
                $.post("api/Followings", { FolloweeId : button.attr("data-user-id") })

                    .done(function() {
                        button
                            .removeClass("btn-primary")
                            .addClass("btn-member")
                            .text("Joined");
                    })
                    .fail(function() {
                        alert("Oops! Something failed! Try again");
                    });
            });
        });
    </script>
}

