@model  RomeoConnection.ViewModels.UserPostsAndCommentsViewModel
@{
    ViewBag.Title = "Home Page";
}
<h1>@ViewBag.Title</h1>
<h2>Wellcome to RomeoConnect</h2>


@{

    if (User.Identity.IsAuthenticated)
    {

        <h3>Timeline</h3>
        if (Model != null)
        {
            foreach (var post in Model.UserPost)
            {
                var base64 = "";
                // var currentUser = ;
                if (post.PostPicture != null && post.PostPicture.Length > 0)
                {
                    var aux = post.PostPicture;
                    base64 = Convert.ToBase64String(aux);
                }
                <div style="background: #2D283E; margin: 3%">
                    <p>Author : @post.ApplicationUser.FirstName</p>
                    <p>@post.Title</p>
                    <p>@post.Description</p>
                    <img alt="" src='@(string.Format("data:image/jpeg;base64,{0}", base64))'
                         width="200px" , height="auto" alt="nu se incarca" />
                    <div id="comments" style="background-color: rgb(159, 48, 67); text-align: center">
                        @foreach (var comment in post.Comments)
                        {
                            if (comment.CommentStatus == "approved")
                            {
                                <div id="comments" style="background-color: rgb(159, 48, 67); text-align: center">
                                    <div id="comment" style="border: 2px solid red;">
                                        <h4>Autor : @comment.CommentBy.FirstName  @comment.CommentBy.LastName</h4>
                                        <p>@comment.CommentText</p>
                                    </div>
                                </div>
                            }
                        }
                        @Html.Partial("../PostComments/_AddComment", Model.PostComment, viewData: new ViewDataDictionary { { "UserPostId", @post.Id } })
                    </div>
                </div>

            }
        }

        else
        {
            <p>Nu exista nicio postare</p>
        }
    }
    else
    {
        <h3>Connect with next boyfriend and let's have fun on RomeConnect. </h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/anD9ZrMJT8k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    }
}
